<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="love.ytlsnb.quest.mapper.QuestScheduleMapper">
    <select id="getAdminMap" resultType="love.ytlsnb.model.quest.vo.QuestScheduleVo">
        SELECT
        s.id,
        q.type,
        q.quest_title AS questTitle,
        s.schedule_title AS scheduleTitle,
        l.longitude,
        l.latitude
        FROM
        tb_quest_schedule s
        LEFT JOIN tb_quest q ON s.quest_id = q.id
        LEFT JOIN tb_quest_location l ON s.location_id = l.id
        WHERE
        q.school_id = #{schoolId}
        and q.is_deleted = 0
        <if test="mapFilterDTO.getMain != null and !mapFilterDTO.getMain">
            and type != 0
        </if>
        <if test="mapFilterDTO.getSide != null and !mapFilterDTO.getSide">
            and type != 1
        </if>
        <if test="mapFilterDTO.getDaily != null and !mapFilterDTO.getDaily">
            and type != 2
        </if>
        and l.longitude IS NOT NULL
        and l.latitude IS NOT NULL
        ;
    </select>

    <select id="getByQuestAndUserId" resultType="love.ytlsnb.model.quest.vo.QuestScheduleCompletionVO">
        SELECT s.id                   as scheduleId,
               s.quest_id             as questId,
               s.schedule_title       as scheduleTitle,
               sl.id                  as scheduleLogId,
        FROM tb_quest_schedule s
                 LEFT JOIN tb_quest_schedule_log sl ON s.id = sl.quest_schedule_id
            AND sl.user_id = #{userId}
        WHERE s.is_deleted = 0
          AND s.quest_id = #{questId};
    </select>

    <select id="getMapByQuestAndUserId" resultType="love.ytlsnb.model.quest.vo.QuestScheduleMapPoint">
        SELECT s.id             AS scheduleId,
               s.schedule_title AS scheduleTitle,
               l.longitude,
               l.latitude
        FROM tb_quest_schedule s
                 LEFT JOIN tb_quest_schedule_log sl
                           ON (s.id = sl.quest_schedule_id AND sl.user_id = #{userId})
                 LEFT JOIN tb_quest_location l ON s.location_id = l.id
        WHERE s.is_deleted = 0
          AND s.quest_id = #{questId}
          AND sl.id IS NULL;
    </select>
</mapper>
