<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="love.ytlsnb.reward.mapper.RewardPhotoMapper">

    <insert id="insert">
        insert into tb_reward_photo(reward_id, url) values
        <foreach collection="rewardPhotos" item="rp" separator=",">
            (#{rp.rewardId},#{rp.image})
        </foreach>

    </insert>
</mapper>